@charset "UTF-8";
h1 {
    font-size: 3em;
    margin: 120px 0 20px;
}

.section-inner {
    display: block;
}

.section-inner ul li {
    list-style: none;
    width: 30%;
    margin: 50px 0;
}

.section-inner ul li:hover {
    box-shadow: 7px 7px 20px #a1a1a1;
    transition: 0.5s all;
}

.section-inner ul li img {
    width: 100%;
}

.section-inner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-inner li a {
    display: block;
}

.section-inner li a .name {
    background: #fff;
    padding: 0.8em 1em;
    position: absolute;
    color: #505050;
    font-size: 1.1em;
    width: 150px;
    box-sizing: border-box;
}